<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth 로그인</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="center">
        <% if(!user) { %>
            <h3>OAuth 로그인</h3>
            <% if(failed) { %>
                <h6>로그인에 실패했습니다.</h6>
            <% } %>
            <div id="links">
                <a href="/oauth/google/">구글로 로그인</a>
            </div>
        <% } else { %>
            <div id="profile">
                <img src="<%= user.photos[0].value %>">
                <h3><%= user.displayName %>로 로그인됨</h3> 
                <a href="/oauth/logout">로그아웃</a>
            </div>
        <% } %>
    </div>
</body>
</html>