<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth 로그인</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="center">
        <% if(!session.user) { %>
            <h3>OAuth 로그인</h3>
            <div id="links">
                <a href="/oauth/google/">구글로 로그인</a>
            </div>
        <% } else { %>
            <h3><%= session.user.name %>로 로그인됨</h3>    
        <% } %>
    </div>
</body>
</html>